/* DocumentationPage.css */
.documentation-page {
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  /* background-color: rgb(7, 78, 0); */
}

.documentation-page h2 {
  font-size: 2rem;
  font-style: italic;
  margin-bottom: 2rem;
}

.documentation-page .doc-list {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0.5rem;
  /* background-color: aqua; */
}

/* .documentation-page .card-wrapper {
  margin-bottom: 1rem;
  background-color: rgb(255, 246, 192);
}

.documentation-page .card-wrapper :hover {
  transition: transform 0.4s ease-in-out;
  transform: scale(1.1);
  box-shadow: 5px 4px 12px rgba(0, 0, 0, 0.2);
} */

